
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    
 }
 .login-google{
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
 }
 .container-form{
    width: 55vw;
    height: 100vh;
    background-color: #D1E8B2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    position: relative;
  }
  .form{
      display: flex;
      width: 30vw;
      font-size: 1.3rem;
      align-items: center;
      flex-direction: column;
  }
  .container-form h2{
     font-weight: 600;
     margin-bottom: 20px;
  }

  .container-input{
    position: relative;
    margin-bottom: 20px;
    height: 8vh;
  }
  
  .placeholder {
    position: absolute;
    top: 34px;
    left: 8px;
    font-size: 0.9rem;
    color: white;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .placeholder2 {
    position: absolute;
    top: 34px;
    left: 8px;
    font-size: 0.9rem;
    color: white;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    transform: translateY(-50%);
    opacity: 0.5;
  }
  .input{
    margin-top: 20px;
    height: 30px;
    max-width: 400px;
    width: 30vw;
    background-color: #7FB239;
    color: aliceblue;
    padding-left: 10px;
    border: 0px solid black;
    border-radius: 5px;
  }
  .input::placeholder{
   color:rgba(228, 226, 226, 0.775)
  }
  
  .input:focus{
    background-color: #b3dd7a;
  }
 
  
  
  .botao{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: #7FB239;
    margin-left: 8vw;
    color: #D1E8B2;
    font-size: large;
    font-weight: bold;
  }

  input[type="checkbox"] {
    width: 18px; 
    height: 18px; 
    background-color: #95ff0000;
    border: 3px solid #4d6d1f;
    
}
.checkbox{
  font-size:1.2rem;
  height: 20px;
  display: flex;
  align-items: center;
}
.checkbox label{
  margin-bottom: 4px;
  margin-left: 5px;
}

  .brazurista{
    position: absolute;
    top: 30vh;
    width: 24vw;
    position: relative;
    height: 40vh;
    font-size: larger;
    font-weight: 600;
  }
  
  .brazurista h1{
     text-align: center;
     color: #64961d;
     font-size: 2.5rem;
  }
  
/* Media queries para telas menores */
@media screen and (max-width: 768px) {
.container-form {
    padding: 20px;
}

.form input {
    width: 100%;
}

.container-btn {
    margin-top: 10px;
}

.entrar-google {
    font-size: medium;
}
}