.user{
    color: black;
    margin-left: 40px;
    margin-right: 80px;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-circle{
    margin-left: 15px;
    height: 30px;
    width: 30px;
    border: 2px solid  black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px;
    right: 50px;
    border-radius: 20px;
}