
/* .container-main */
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .container-search */
.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80%;
    position: absolute;
    top: 80px;
}

/* .search */
.search {
    height: 5vh; 
    width: 35vw; 
    border-radius: 20px;
    border: 1px solid black; 
    padding: 0 10px;
    box-sizing: border-box; 
}


.lupa {
    margin-left: -10%; 
}


.img-top {
    margin-top: 5vh; 
    height: 40vh;
    width: 60%;
    max-width: 100%;
    border-radius: 5px;
}

.container-slider{
    height: 20vh;
    width: 80%;
    margin-top: 8vh;
    position: relative;
}
.container-slider h3{
   margin-left: 10vw;
}
.content-slide {
    margin-top: 15px;
    position: absolute;
    left: 10vw;
    width: 80%;
    height: 30vh;
    overflow-x: auto; 
    overflow-y: hidden;
    scroll-behavior: smooth;
    white-space: nowrap; 
  }
  
  .content-slide::-webkit-scrollbar {
      display: none;
  }

  .img-slide{
    width: 200px; 
    height: 120px;
    border-radius: 3px;
  }
  .content-slide .block {
    position: relative;
    top: 24px;
    margin: 0px 5px;
    display: inline-block;
    width: 200px; 
    height: 120px;
    cursor: pointer;
    border-radius: 3px;
  }
.btn-left{
    position: absolute;
    top:18vh;
    left: 7vw;
    height: 60px;
    width: 20px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn-left::after{
    content: "";
    position: absolute;
    left: -12px;
    top: -8px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
}
.btn-right{
    position: absolute;
    top:18vh;
    right: 5vh;
    height: 60px;
    width: 20px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
     cursor: pointer;
}
.btn-right::after{
    content: "";
    position: absolute;
    left: -12px;
    top: -8px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
}


/* Estilize os controles de navegação aqui (botões, pontos, etc.) */

@media (max-width: 768px) {
   
    .container-search {
        width: 90%; 
    }
    .search {
        width: 100%; 
    }
    .lupa {
        margin-left: -15%; 
    }
    
}
